$sidebar-width: 70px;
$topbar-height: 80px;
$br: 2px;
$br2: 10px;
$font-size: 16px;

$white: #fff;
$black: #000;
$sub: #878898;
$primary: #009A7B;
$sidebar: #e6e6e6;
$border: #d4d4de;
$danger: #ce1919;
$secondary: #E0F5F0;
$blue: #2f6db9;
$light_blue:#E7ECF2;
$base: #101e32;
$background: #f3f4f5;
$disabled: #f0f0f0;